.commonButton {
  color: var(--dark-mode-main-font-color);
  border: none;
  padding: 0.375em 0.75rem;
  border-radius: 50rem;
  display: flex;
  align-items: center;
  gap: 0.375em;
  height: fit-content;
  font-weight: var(--font-weight-medium);
}

.gradient {
  background: var(--gradient-button);
}

.line {
  border: 1px solid var(--line-component-border-color);
  background-color: transparent;
}

.gradient-shadow {
  background: var(--gradient-button);
  box-shadow:
    0 10px 15px -3px #1c398e4d,
    0 4px 6px -4px #1c398e4d;
}

.commonButtonIcon {
  width: 0.875rem;
  height: 0.875rem;
}
