.login {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 28rem;
  padding: 2.06rem;
  color: var(--line-component-font-color);
  background-color: #12121a;
  border: 1px solid var(--input-border-color);
  border-radius: 1rem;
}

.title,
.content,
.moveSignup {
  text-align: center;
}

.title {
  color: var(--dark-mode-main-font-color);
  font-size: 1.5rem;
  font-weight: var(--font-weight-medium);
  text-align: center;
  margin-bottom: 0.5rem;
}

.lineContent {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  margin: 1.5rem 0;
  font-size: var(--font-size-caption);
  span {
    flex: 1;
    display: block;
    height: 0.0625rem;
    background-color: var(--input-border-color);
  }
}

.moveSignup {
  margin-top: 1.5rem;
  color: var(--caption-text-color);
  a {
    color: var(--color-secondary);
  }
}
