.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-top: 1px solid var(--line-component-background-color);
  background-color: #080810;
}

.footerContainer {
  max-width: var(--max-width);
  margin: 0 auto;
  color: var(--caption-text-color);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 3rem 1.5rem 0;
}
.footerContent {
  display: flex;
  gap: 2rem;

  .footerContentItem {
    flex: 1;
    span {
      height: 2.5rem;
      display: block;
      width: 4rem;
    }
  }

  .footerContentTitle {
    color: var(--dark-mode-content-font-color);
    font-weight: var(--font-weight-bold);
    margin-bottom: 1rem;
  }

  .footerContentList {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    a {
      color: var(--caption-text-color);
      text-decoration: none;
    }
  }
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--caption-content-color);
  padding: 1.5rem 0 3rem;
  font-size: var(--font-size-caption);
  .footerTerms {
    display: flex;
    gap: 0.95rem;
  }
}
