:root {
  /* width */
  --max-width: 80rem;

  /* site color */
  --dark-mode-background-color: #0a0a0f;
  --dark-mode-main-font-color: #ffffff;
  --color-primary: #155dfc;
  --color-secondary: #51a2ff;
  --gradient-button: linear-gradient(90deg, #155dfc 0%, #193cb8 100%);
  --line-component-border-color: #ffffff33;
  --line-component-background-color: #ffffff1a;
  --line-component-font-color: #99a1af;
  --hover-point-text: #8ec5ff;

  /* text */
  --font-size-body: 0.875rem;
  --font-weight-body: 400;
}

body {
  background-color: var(--dark-mode-background-color);
  color: var(--dark-mode-main-font-color);
  font-family: var(--font-wanted-sans);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
