:root {
  /* width */
  --max-width: 80rem;

  /* site color */
  --dark-mode-background-color: #0a0a0f;
  --dark-mode-main-font-color: #ffffff;
  --dark-mode-content-font-color: #d1d5dc;
  --color-primary: #155dfc;
  --color-secondary: #51a2ff;
  --gradient-button: linear-gradient(90deg, #155dfc 0%, #193cb8 100%);
  --gradient-text: linear-gradient(90deg, #51a2ff 0%, #74d4ff 100%);
  --line-component-border-color: #ffffff33;
  --line-component-background-color: #ffffff1a;
  --line-component-font-color: #99a1af;
  --hover-point-text: #8ec5ff;
  --caption-text-color: #6a7282;
  --caption-content-color: #4a5565;

  --input-background-color: #ffffff0d;
  --input-border-color: #ffffff1a;
  /* text */
  --font-size-body: 0.875rem;
  --font-size-caption: 0.75rem;
  --font-weight-body: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* tag */
  --blue-tag-background-color: #2b7fff33;
  --blue-tag-border-color: #2b7fff4d;
  --blue-tag-font-color: #8ec5ff;

  --mint-tag-background-color: #00b8db33;
  --mint-tag-border-color: #00b8db4d;
  --mint-tag-font-color: #53eafd;

  --red-tag-background-color: #ff205633;
  --red-tag-border-color: #ff20564d;
  --red-tag-font-color: #ffa1ad;

  --pink-tag-background-color: #f6339a33;
  --pink-tag-border-color: #f6339a4d;
  --pink-tag-font-color: #fda5d5;

  --yellow-tag-background-color: #fe9a0033;
  --yellow-tag-border-color: #fe9a004d;
  --yellow-tag-font-color: #ffd230;

  --gray-tag-background-color: #6a728233;
  --gray-tag-border-color: #6a72824d;
  --gray-tag-font-color: #d1d5dc;

  --green-tag-background-color: #00bc7d33;
  --green-tag-border-color: #00bc7d4d;
  --green-tag-font-color: #5ee9b5;
}

body {
  background-color: var(--dark-mode-background-color);
  color: var(--dark-mode-main-font-color);
  font-family: var(--font-wanted-sans);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
}

pre {
  font-family: var(--font-wanted-sans);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: transparent !important;
  -webkit-text-fill-color: var(--line-component-font-color) !important;
  transition: background-color 5000s ease-in-out 0s;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.span-image {
  position: relative;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
