.tagComponent {
  display: inline-flex;
  padding: 0.1875rem 0.50781rem;
  justify-content: center;
  align-items: center;
  border-radius: 50rem;
}

.musical {
  color: var(--blue-tag-font-color);
  border: 1px solid var(--blue-tag-border-color);
  background-color: var(--blue-tag-background-color);
}
.play {
  color: var(--mint-tag-font-color);
  border: 1px solid var(--mint-tag-border-color);
  background-color: var(--mint-tag-background-color);
}
.classic {
  color: var(--yellow-tag-font-color);
  border: 1px solid var(--yellow-tag-border-color);
  background-color: var(--yellow-tag-background-color);
}
.koreanMusic {
  color: var(--green-tag-font-color);
  border: 1px solid var(--green-tag-border-color);
  background-color: var(--green-tag-background-color);
}
.concert {
  color: var(--pink-tag-font-color);
  border: 1px solid var(--pink-tag-border-color);
  background-color: var(--pink-tag-background-color);
}
.dancing {
  color: var(--red-tag-font-color);
  border: 1px solid var(--red-tag-border-color);
  background-color: var(--red-tag-background-color);
}
.upcomming {
  color: var(--blue-tag-font-color);
  background-color: var(--blue-tag-background-color);
}
.performing {
  color: var(--green-tag-font-color);
  background-color: var(--green-tag-background-color);
}
.done {
  color: var(--gray-tag-font-color);
  background-color: var(--gray-tag-background-color);
}
